{% extends "base.html" %}

{% block content %}

    <style>
        .large-front-thumbnail {
            position: relative;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

    </style>
    <div class="row">
        <div class="col">
            <div class="card">
                <img class="large-front-thumbnail"
                     src="{{ 'static/imagenet_subset/'+image_id }} "
                     alt={{ image_id }}/>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="row">
                    <canvas id="classificationOutput" style="width: 50%; margin: auto; padding: 20px;"></canvas>
                    <div class="align-items-center">
                        <h2 id="waitText"></h2>
                    </div>
                </div>
                <a class="btn btn-primary" href="/classifications" role="button" style="margin: 10px;">Back</a>
                <a class="btn btn-secondary" href="/classifications/dowlonad/results?classification_scores={{classification_scores}}" role="button" style="margin: 10px 10px 2px 10px;">Download results</a>
                <a class="btn btn-secondary" href="/classifications/download/plot?classification_scores={{classification_scores}}" role="button" style="margin: 0 10px 10px 10px;">Download plot</a>
            </div>
    </div>
    <script src="{{ "static/graph.js" }}" id="makeGraph" classification_scores="{{classification_scores}}"></script>
{% endblock %}

